body,html{ 
	height:100%;
	background-color:#FFFFFF;
}

.mui-content{
	background-color:#FFFFFF;
}

.container{
	/*border:1px solid red;*/
	padding:0px 30px 0px 30px;
}

.pic{
	width:100%;
}

.pic img{
	width:100%;
	height:100%;
}

.text p{
	text-indent: 2em;
	margin-bottom:10px;
	font-size:0.28rem;
	color:#000000;
	line-height: 0.4rem;
}















