body,html{ 
	height:100%;background-color:#FFFFFF;color:#000000;
}

.mui-content{
	background-color:#FFFFFF;
}

.container{
	/*border:1px solid red;*/
	padding:20px 20px;
	color:#000;
}

.line{
	border-top:1px solid #C0C0C0;
}

/*p{
	padding:0px 10px;
}*/

.top,p{
	margin-top:10px;
	margin-bottom:10px;
}

.top input{
	font-family: tahoma;
	font-size:0.3rem;
	vertical-align: middle;
}

.top lable{
	font-family: tahoma;
	vertical-align: middle;
}

.mui-icon{
	float:right;
}

.text_name{
	font-size:0.3rem;
	color:#696969;	
}
.text textarea{
	font-size:0.3rem;
	color: #696969;
}

.btn{
	margin-top:40px;
	background-color:#36ccab;
	border-radius:10px;
	width:100%;
	height:0.8rem;
	line-height: 0.8rem;
	text-align: center;
	font-size: 0.4rem;
	color:#FFFFFF;
}

#portrait{
	width:10%;
	height:10%;
	/*float:left;*/
}

#add:before {
    content: '\e470';
} 
#add{
	position:absolute;
	right:0.15rem;
	top:-0.02rem;
	width:24px;
}
#fileColorCard{
	position: absolute;
    top: 0;
    right: 0;
	/*z-index:99999;*/
	opacity:0;
	/*border:1px solid red;*/
	width:1rem;
	height:24px;
	padding:0;
	margin-bottom:0;
	outline: medium;
}


