*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body,html{ 
	height:100%;
	background-color:#f7f7f7;
	color:#000000;
}

.mui-content{
	background-color:#f7f7f7;
}

.head{
	/*border:1px solid red;*/
	height:0.9rem;
	margin-top:15px;
	display:flex;
	align-items:center;
	position:relative;
}

.head input{
	margin-bottom:0;
	width: 5.1rem;
	height: 30px;
	margin-left: 0.3rem;
	font-size: 0.25rem;
	padding: 5px 8px;
	border: 1px solid #ddd;	
}

.mui-icon{
	position:absolute;
	left:30px;
}

.name{
	margin-top:10px;
	padding-left:20px;
	margin-bottom:0;
}

.name input{
	border:none;
	margin-bottom:0;
}

.diaster{
	/*border:1px solid red;*/
	padding-left:25px;
	/*padding-right:10px;*/
	margin-bottom:15px;
	padding-bottom: 5px;
	position:relative;
	z-index:0;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.diaster:nth-child(1){
	padding-bottom: 0px;
	/*border-bottom: 1px solid #f7f7f7;*/
}

.diaster ul li{
	list-style: none;
	margin-bottom:10px;
	font-size:0.3rem;
	line-height: 0.35rem;
}

.diaster ul .title{
	font-size:0.35rem;
}

lable{
	color:#797979;
}

.triangle{
	width: 0;
    height: 0;  
    border-left: 1.3rem solid transparent;  
    position:absolute;
    top:0;
    right:0px;
    z-index:-9999;
}

.triangle_text{
	padding-top:5px;
	color:#ffffff;
	text-align: right;
	margin-bottom:0;
	font-size:0.2rem;
	/*border:1px solid blue;*/
}
