@charset "utf-8";
/*加载公共样式*/
@import url(common.css);
/*如果需要加载分页*/
@import url(admin_base.css);

.contact_table{width:96%;margin:10px auto;}
.contact_table tr {height:50px;}
.list-right{text-align:right;width:100px;}

