@charset "utf-8";
/*加载公共样式*/
@import url(common.css);
/*如果需要加载分页*/
@import url(admin_base.css);
/*admin_addflash  css样式*/
.upflash{ float:left; width:98%; padding-left:20px;}
.upflash table{margin-top:10px;}
.upflash table tr{ height:40px;}
.upflash table tr td p{ font-weight:bold; color:#000;}
.thumb{ width:520px; height:150px;  border:1px solid #ccc; text-align:center; line-height:150px; margin-top:10px;}
.thumb img{max-width:520px; height:150px; }
.save{float:left; width:50%; padding-left:65px;}
.save input{ margin-right:20px;}
/*admin_flash  css样式*/
.adminflash{ float:left; width:98%; padding-left:20px;}  
.addbtn{ margin:10px 0 10px; float:left;}
.adminflash table td a{ margin:10px;}
.adminflash table{ width:97%; float:left; }
.order{ float:left;margin:10px 0 10px;}
.must{color:red; vertical-align:middle;}