@charset "utf-8";
@import url(serviceTeamAudit.css);
.searchTable tr{height:41px;}
.searchFieldSet{height:100px;}
.searchFrom{display:bolck;width:95%;height:105px;clear:both;margin-left:20px;margin-bottom:10px;}
.tabContent{display:bolck;width:97%;clear:both;margin-left:19px;margin-bottom:10px; margin-top:10px;}
.omit1 a{float:left; width:120px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;}
.omit2 a{float:left; width:90px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;}
.omit3 a{float:left; width:80px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;}
.omit4 a{float:left; width:80px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;}
/*隐藏原因*/
.refuse_fa{position:relative;}
.refuse_so{position:absolute;width:450px;background:#fff;border:solid 2px #DFDFDF; display:none;left:150px;_left:-580px;z-index: 999;}
.refuse_ch{float:left;padding:20px;}
.refuse_tab2{float:left;}
.refuse_big{color:red;font-size:18px;}
.refuse_tab2 tr{ height:35px; line-height:35px;}