
.hiddenDiv{width:350px;height:90px;margin:0 auto 10px;border:2px solid #DFDFDF;display:none;clear:both;}
.a_red{text-decoration:none !important;color:#FF0000 !important;}
.hiddenDivSave{height:200px;position:relative;bottom:500px;background:#FEFCFD;}
.working_hours{width:170px;height:20px;}


