@charset "utf-8";
/*加载公共样式*/
@import url(common.css);
/*如果需要加载分页*/
@import url(admin_base.css);


.adminlink{ float:left; width:98%; padding-left:20px;}
.addbtn{ margin:10px 0 10px; float:left;}
.adminlink table td a{ margin:10px;}
.adminlink table{ width:97%; float:left; }
.order{ float:left;margin:10px 0 10px;}
.must{color:red; vertical-align:middle;}