@charset "utf-8";
/*加载公共样式*/
@import url(common.css);
@import url(page.css);
@import url(detail.css);
.contactauto{width:964px; margin:0 auto; background:red;}
.contactDiv{ width:964px;border:1px solid #CCCCCC; float:left; margin-bottom:20px; margin-top:5px;}
.contactTitle{width:930px;height:35px;line-height:34px;border-bottom:1px solid #ccc; margin:0 auto}
.conttactMainTitle{width:930px;height:100px;line-height:100px;text-align:center;font-size:16px;color:#C11501;font-weight:bold;float:left; margin-left:17px; display:inline}
.conttactCon{width:930; min-height:400px; float:left; overflow:hidden; margin-left:17px; display:inline; padding-top:15px;}
.contactImg{display:block;width:420px;height:400px;float:left; margin-left:17px; display:inline}
.contactInfo{width:500px;height:400px;margin-left:10px;_margin-left:5px;float:left;}
.CII{margin-top:60px;}
.CII p{width:470px;margin-left:30px;_margin-left:15px;float:left;line-height:30px;word-wrap:break-word;word-break:break-all;}