@charset "utf-8";
/*加载公共样式*/
@import url(common.css);

.findpsw{padding:5px 8px 0 8px; width:944px; height:400px;float:left; background:#fff;border:3px solid #ECEFF1;margin-bottom:10px;margin-top:10px;}
.fpsw_con {margin-left:180px;margin-top:20px;}
.fpsw_con input{border:1px solid #3197B5;margin-top:10px;}
.textzh{ width:286px;height:28px;}
.textyzm{ width:180px;height:28px;}
.doNext{margin-left:28px;margin-top:20px;}
.doEnd{margin-left:50px;margin-top:20px;}


.choose {
    width: 470px;
    padding-bottom: 26px;
}

.choose-header {
    margin-top: 35px;
}

.choose-header .subtitle {
    outline: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.20849;
    font-weight: 500;
    letter-spacing: .015em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.choose-header .description {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #fff;
    color: #333;
}

.medium {
    font-weight: 500 !important;
}

.choose-body {
    padding: 0 20px;
    display: block; width: 100%; margin-top: 15px;
}

.choose-main-row {
    margin-bottom: 10px;
}

.choose-main-column {
    display: table-cell;
}

.option-radio {
    margin-top: 2px;
}

.multiple-options {
    text-align: left;
    margin-bottom: 10px;
}

.multiple-options .option-label {
    margin-left: 7px;
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #333;
}

.multiple-options .subtext {
    margin-left: 7px;
    color: #666;
    letter-spacing: 0em;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.semi-bold {

}

input[type="checkbox"], input[type="radio"] {
    margin-top: -4px;
    vertical-align: middle;
}

.findpsw-btn {
    box-sizing: content-box;
    cursor: pointer;
    overflow: visible;
    vertical-align: inherit;
    -webkit-font-smoothing: antialiased;

    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    white-space: nowrap;
}

.findpsw-cancel-btn {

    box-sizing: content-box;
    cursor: pointer;
    font: inherit;
    overflow: visible;
    vertical-align: inherit;
    -webkit-font-smoothing: antialiased;

    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    white-space: nowrap;

    background-color: #e3e3e3;
    background: linear-gradient(#fff, #e3e3e3);
    border-color: #d6d6d6;
    color: #0070c9;

    margin-left: 5px;
    margin-right: 5px;
}

.sms-send-btn {
    box-sizing: content-box;
    cursor: pointer;
    overflow: visible;
    -webkit-font-smoothing: antialiased;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    background-color: #e3e3e3;
    background: linear-gradient(#fff, #e3e3e3);
    border-color: #d6d6d6;
    color: #0070c9;

    margin-left: 5px;
    margin-right: 5px;
    height: 30px; line-height: 30px;
}

.sms-send-btn.disabled {
    opacity: 0.65;
    pointer-events: none;
}