@charset "utf-8";
/*加载公共样式*/
@import url(common.css);
.index_box{ width:1200px; margin:0 auto}
.index_con{ width:1200px; margin:0 auto;float:left; padding:30px 0 20px 0;}
/*index_flash告样式*/
.index_flash{ height:430px; background:#fff; float:left; width:100%;}
#full-screen-slider { width:100%; height:430px; float:left; position:relative; z-index: 0;}
#slides { display:block; width:100%; height:415px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; z-index:9900; margin:0 auto;position:absolute; left:50%; bottom:0;}
#pagination li { display:block; list-style:none; width:67px; height:4px; overflow:hidden; float:left; margin-left:15px;  background:#CACACA; cursor:pointer}
#pagination li.current { background:#DC6760; height:2px; width:65px; border:1px solid #C5706D}

.a_left{ width:285px; height:275px; float:left;}
.a_mid{ float:left; margin-left:60px; display:inline}
.a_right{ float:right}
.more_title{ font-size:35px; color:#DF1D13; float:left;}
.more_title span{ float:left; padding-left:5px;}
.more_title a{ background:url(../images/more_icon.gif) no-repeat; width:24px; height:24px; float:left; margin-top:13px; margin-left:20px; display:inline}
.volunteer_sever{ width:400px; background:#ececec;}
.volunteer_sever ul{padding-top:20px; float:left; height:205px; overflow:hidden}
.volunteer_sever ul li{ background:url(../images/arrows_icon.png) no-repeat 1% center; padding-left:20px; height:25px; line-height:25px;width:380px;  overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.volunteer_sever-x .more_title {
    font-size: 18px; display: block; width: 100%; line-height: 30px; color: #333; margin-top: 10px;
}
.volunteer_sever-x .more_title span {
    border-left: 5px solid red; float: none;
}
.volunteer_sever-x .more_title span a {
    background: none; float: right;
     margin: 0;
}
.volunteer_sever-x .more_title span i {
    float: right;
}
.volunteer_sever-x ul {
    padding-left: 15px; padding-right: 15px; padding-top: 5px;
    float: none; height: 220px;
}
.index_all{ width:100%; float:left; background:#ECECEC url(../images/bg_dot.png) repeat-x top;}
.fast_tract{ width:285px; float:left; height:265px; overflow:hidden}
.fast_tract li{ width:285px; height:54px; background:url(../images/tract_bg.png) no-repeat; text-align:center; line-height:54px; color:#fff; margin-bottom:15px; font-size:22px;}
.slogan{ height:30px; float:left; width:100%; text-align: center; line-height:30px;}
.s_activity{ float:left; width:1200px; overflow:hidden; margin-top:20px;}
.s_activity_box{ width:1250px;}
.t_img dd{height:155px; width:265px; overflow:hidden}
.t_img img{ height:155px; width:265px;}
.t_img dt{ position:absolute; bottom:0px; left:0px; color:#fff; height:35px; line-height:35px; font-size:16px;background:rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;filter:Alpha(opacity=70);background:#000000; width:265px; text-align:center; display:none}
.t_img{height:155px; width:265px; float:left; margin-right:47px; display:inline; margin-bottom:45px; position:relative}


