@charset "utf-8";
/*加载公共样式*/
@import url(common.css);
/*如果需要加载分页*/
@import url(page.css);

/*width:964px;*/
.con{ padding-top:0px; padding-bottom:20px;}

.SsearchItem{width:964px;float:left;margin:5px auto;}
.sa{display:block;height:30px;line-height:30px;font-size:14px;color:#0000CC;text-decoration:underline;clear:both;}
.scontent{height:50px;line-height:25px;word-wrap:break-word;word-break:break-all;overflow:hidden; }