@charset "utf-8";
/*加载公共样式*/
@import url(admin_base.css);

.service_top{width:100%;float:left;}
.searchFrom{display:bolck;width:95%;height:120px;clear:both;margin:10px auto;}
.searchFieldSet{height:120px;}
.searchFieldSet legend { color:#1E7ACE; font-weight:bold; }
.searchTable{width:98%;margin:0px auto;table-layout:fixed;}
.searchTable tr{height:40px; line-height:35px;}
.tabContent{display:bolck;width:90%;clear:both;margin-left:20px;margin-bottom:10px;}
.listright{text-align:right;}
.service_middle{width:98%;float:left;}
#hid_rel{ position:relative;}
#hid_rel input{vertical-align: middle;}
#hid_abs{position:absolute;width:360px;border:solid 2px #000; background:#fff; padding:20px; display:none;}
.hid_son{width:120px;height:30px;float:left;}
#hid_btn{clear:left;text-align: center;}
.tab{width:100%;}
.tab_item{width:100%; float:left; margin-top:10px;}
.manage_content_back{ text-align:right; margin-top:10px; margin-bottom:10px; margin-right:20px;}
.omit a{width:70px;height:18px; line-height:18px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;float:left;}
.omit1 a{width:120px;height:18px; line-height:18px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;float:left;}
.omit2 a{width:230px;height:18px; line-height:18px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;float:left;}
.omit3 a{width:154px;height:18px; line-height:18px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;float:left;}
.omit4 a{width:100px;height:18px; line-height:18px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left;float:left;}