@CHARSET "UTF-8";

.changeTable{width:700px;margin:10px auto;}
.changeTable tr{height:60px;vertical-align:middle;}
.listright{text-align:right;width:100px;}
.listright2{text-align:right;}
.listcenter{text-align:center;}
/*.button{width:80px;height:30px;}*/
.liststart{width:30px;}




.forget-password-btn {
    color: #db4a39;
    margin-left: 32px;
    cursor: pointer;
}

.forget-password-btn:hover {
    color: #db4a39;
    text-decoration: underline;
}