@CHARSET "UTF-8";

@import url(user_center.css);

.listright{text-align:right;}
.listleft{text-align:left;}
.listcenter{text-align:center;}
.table {table-layout:fixed;}
.tda{display:block;overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}


.btn_alone{margin:10px;margin-left:20px;float:left;clear:both;}


.searchFrom{display:bolck;width:95%;clear:both;margin-left:20px;}
.searchFieldSet{height:150px;}
.searchFieldSet legend { color:#1E7ACE; font-weight:bold; }
.searchTable{margin:0px auto;table-layout:fixed;}
.searchTable tr{height:42px;line-height:42px;}
.middleinput{width:120px;}

.tabContent{display:bolck;width:95%;clear:both;margin-left:20px;margin-bottom:10px;margin-top:10px;}
.tab{width:100%;}
.tab_item{width:100%;}

.a_red{text-decoration:none !important;color:#FF0000 !important;}
.length_20{width:120px;}
.length_202{width:80px;}
.select_20{width:130px;}
.select_202{width:90px;}

.hiddenDiv{width:95%;margin-left:20px;margin-bottom:10px;margin-top:10px;border:1px solid #DFDFDF;display:none;clear:both;}
.hiddenDiv3{}
.hiddenDiv4{height:700px;}
.changeTimeTable{}
.changeTimeTable tr{height:30px;}
.searchManSet{margin:5px auto;padding-bottom:10px;}
.searchManSet legend {color:#1E7ACE; font-weight:bold; }
.searchManTable{margin:0 auto ;}
.searchManTable tr{height:30px;}

.doInviteMsg{margin-left:20px;}

