/*加载公共样式*/
@import url(common.css);

.btn_alone{margin-left:20px;margin-top:8px;}
.searchFrom{display:bolck;width:95%;clear:both;margin-left:20px;margin-bottom:10px;margin-top:10px;}
.searchFieldSet{height:120px;}
.searchFieldSet legend { color:#1E7ACE; font-weight:bold; }
.base_table tr{height:30px;line-height:30px;}
.ust{display:bolck;width:95%;clear:both;margin-left:20px;margin-bottom:10px;margin-top:10px;}
/*超出部分隐藏*/
.tdactivityName a{float:left; width:240px;height:18px; line-height:18px;overflow:hidden; white-space:nowrap;text-overflow:ellipsis; text-align:left}